body {
  font-family: "Helvetica Neue", sans-serif; /* match font used by Leaflet */
  padding-left: 20px;
  padding-top: 0px;
}

.flex-parent-element {
  display: flex;
  width: 50%;
}

.flex-child-element {
  flex: 1;
  border: 2px solid white;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

.sidenav {
  width: 130px;
  position: relative; /* allows menu box to scroll */
  z-index: 1;
  top: -5px; 
  left: 0px;
  background: #fafafa ;
  overflow-x: hidden; 
  padding: px 5;
  font-size: 13px; /* non link menu text */
  
}

/* menu link text */
.sidenav a {   
  padding: 6px 18px 16px ;
  text-decoration: none;
  font-size: 13px;
  color: #333333;
  display: block;
}

.sidenav a:hover {
  color: #2171b5
}

h6{
  font-size: 10px;
  font: 'Helvetica Neue';
  font-weight: 100;
  color: #333333;
  padding-right: 120px;
}